* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
.product-img {
  /* float: left; */
  width: 250px;
  height: 250px;
  flex: 1;
}
.product {
  border: 4px solid black;
  margin: 50px auto;
  width: 825px;
  position: relative;
}

.product::before {
  content: "SALE";
  background-color: red;
  top: -20px;
  left: -40px;
  width: 60px;
  padding: 5px;
  text-align: center;
  color: #fff;
  position: absolute;
  letter-spacing: 2px;
}

.product-title {
  text-align: center;
  background-color: #f7f7f7ef;
  padding: 15px;
  font-size: 22px;
  text-transform: uppercase;
}

.price {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0px;
  /* float: left; */
}

.shiping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  /* float: right; */
}

.price-shiping-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-description {
  /* clear: both; */
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.colors {
  height: 100px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.color {
  background-color: #000;
  width: 22px;
  height: 22px;
  /* display: inline-block; */
  /* margin-right: 10px; */
  gap: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

.details-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: black;
  border: none;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: #fff;
  color: black;
}

.product-info {
  /* float: left; */
  /* width: 243px; */
  /* margin-left: 40px;
  margin-right: 40px; */
  margin-top: 20px;
  flex: 1;
}

.product-details {
  /* float: left; */
  /* width: 243px; */
  margin-top: 20px;
  flex: 1;
}

.row {
  display: flex;
  gap: 40px;
}
